{% extends "base.html" %}
{% block content %}



<section class="p-5">
     
    <div class="container">

        <div class="row text-center g-4">

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/qatar.png')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        Qatar *
                    </h3>
                    <p class="card-text">
                    
                        Qatar is the host nation for the 2022 Fifa World Cup.
                        The team didn't play any qualifying games since they are the 
                        hosting nation. 
                    </p>

                    <a href="#" class="btn btn-primary">Group A</a>                      
                </div>
            </div>

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/Ecuador.png')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        Ecuador
                    </h3>
                    <p class="card-text">
                    
                        Ecuador is in group A, the qualify from South American
                        qualifying group.
                    </p>

                    <a href="#" class="btn btn-primary">Group A</a>                      
                </div>
            </div>

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/Senegal.png')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        Senegal
                    </h3>
                    <p class="card-text">
                    
                        Senegal qualified from African qualifying group.
                    </p>

                    <a href="#" class="btn btn-primary">Group A</a>                      
                </div>
            </div>


            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/netherlands.png')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        Netherlands
                    </h3>
                    <p class="card-text">
                    
                        Netherlands qualified from European qualifying group
                    </p>

                    <a href="#" class="btn btn-primary">Group A</a>                      
                </div>
            </div>
         
        </div>



        <!-- Group B -->
        <div class="row text-center g-4">

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/England.png')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        England.
                    </h3>
                    <p class="card-text">
                    
                        England.
                    </p>

                    <a href="#" class="btn btn-primary">Group B</a>                      
                </div>
            </div>

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/iran.png')}}"  />
                    </div>
                    <h3 class="card-title mb-3">
                        Iran.
                    </h3>
                    <p class="card-text">
                    
                        Iran.
                    </p>

                    <a href="#" class="btn btn-primary">Group B</a>                      
                </div>
            </div>

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/usFlag.png')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        United States.
                    </h3>
                    <p class="card-text">
                    
                        United States.
                    </p>

                    <a href="#" class="btn btn-primary">Group B</a>                      
                </div>
            </div>


            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/books.svg')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        UEFA Path A winners
                    </h3>
                    <p class="card-text">
                    
                        UEFA Path A winners
                    </p>

                    <a href="#" class="btn btn-primary">Group B</a>                      
                </div>
            </div>
         

        </div>

            
        <!-- Group C -->

        <div class="row text-center g-4">

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/Argentina.jpeg')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        Argentina.
                    </h3>
                    <p class="card-text">
                    
                        Argentina.
                    </p>

                    <a href="#" class="btn btn-primary">Group C</a>                      
                </div>
            </div>

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">
                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/saudiArabia.png')}}"  />
                    </div>
                    <h3 class="card-title mb-3">
                        Saudi Arabia.
                    </h3>
                    <p class="card-text">
                    
                        Saudi Arabia.
                    </p>

                    <a href="#" class="btn btn-primary">Group C</a>                      
                </div>
            </div>

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/Mexico.jpeg')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        Mexico
                    </h3>
                    <p class="card-text">
                        Mexico
                    </p>

                    <a href="#" class="btn btn-primary">Group C</a>                      
                </div>
            </div>


            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/Poland.png')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        Poland.
                    </h3>
                    <p class="card-text">
                    
                        Poland.
                    </p>

                    <a href="#" class="btn btn-primary">Group C</a>                      
                </div>
            </div>
         

        </div>

        <!-- Group D -->

        <div class="row text-center g-4">

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/France.png')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        France.
                    </h3>
                    <p class="card-text">
                    
                        France.
                    </p>

                    <a href="#" class="btn btn-primary">Group D</a>                      
                </div>
            </div>

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">
                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/books.svg')}}"  />
                    </div>
                    <h3 class="card-title mb-3">
                        AFC–CONMEBOL winners
                    </h3>
                    <p class="card-text">
                    
                        AFC–CONMEBOL winners
                    </p>

                    <a href="#" class="btn btn-primary">Group D</a>                      
                </div>
            </div>

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/denmark.png')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        Denmark.
                    </h3>
                    <p class="card-text">
                        Denmark.
                    </p>

                    <a href="#" class="btn btn-primary">Group D</a>                      
                </div>
            </div>


            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/tunisia.png')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        Tunisia.
                    </h3>
                    <p class="card-text">
                    
                        Tunisia.
                    </p>

                    <a href="#" class="btn btn-primary">Group D</a>                      
                </div>
            </div>
         

        </div>

        <!-- Group E -->

        <div class="row text-center g-4">

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/spain.png')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        Spain.
                    </h3>
                    <p class="card-text">
                    
                        Spain.
                    </p>

                    <a href="#" class="btn btn-primary">Group E</a>                      
                </div>
            </div>

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">
                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/books.svg')}}"  />
                    </div>
                    <h3 class="card-title mb-3">
                        CONCACAF–OFC winners
                    </h3>
                    <p class="card-text">
                    
                        CONCACAF–OFC winners
                    </p>

                    <a href="#" class="btn btn-primary">Group E</a>                      
                </div>
            </div>

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/germany.png')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        Germany.
                    </h3>
                    <p class="card-text">
                        Germany.
                    </p>

                    <a href="#" class="btn btn-primary">Group E</a>                      
                </div>
            </div>


            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/japan.png')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        Japan.
                    </h3>
                    <p class="card-text">
                    
                        Japan.
                    </p>

                    <a href="#" class="btn btn-primary">Group E</a>                      
                </div>
            </div>
 

        </div>


        <!-- Group F -->

        <div class="row text-center g-4">

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/belgium.png')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        Belgium.
                    </h3>
                    <p class="card-text">
                    
                        Belgium.
                    </p>

                    <a href="#" class="btn btn-primary">Group F</a>                      
                </div>
            </div>

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">
                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/Canada.png')}}"  />
                    </div>
                    <h3 class="card-title mb-3">
                        Canada
                    </h3>
                    <p class="card-text">
                    
                        Canada
                    </p>

                    <a href="#" class="btn btn-primary">Group F</a>                      
                </div>
            </div>

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/morocco.png')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        Morocco.
                    </h3>
                    <p class="card-text">
                        Morocco.
                    </p>

                    <a href="#" class="btn btn-primary">Group F</a>                      
                </div>
            </div>


            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/croatia.png')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        Croatia.
                    </h3>
                    <p class="card-text">
                    
                        Croatia.
                    </p>

                    <a href="#" class="btn btn-primary">Group E</a>                      
                </div>
            </div>
 

        </div>


        <!-- Group G -->

        <div class="row text-center g-4">

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/Brazil.png')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        Brazil.
                    </h3>
                    <p class="card-text">
                    
                        Brazil.
                    </p>

                    <a href="#" class="btn btn-primary">Group G</a>                      
                </div>
            </div>

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">
                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/serbia.png')}}"  />
                    </div>
                    <h3 class="card-title mb-3">
                        Serbia
                    </h3>
                    <p class="card-text">
                    
                        Serbia
                    </p>

                    <a href="#" class="btn btn-primary">Group G</a>                      
                </div>
            </div>

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/swiz.png')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        Switzerland.
                    </h3>
                    <p class="card-text">
                        Switzerland.
                    </p>

                    <a href="#" class="btn btn-primary">Group G</a>                      
                </div>
            </div>


            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/Cameroon.png')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        Cameroon.
                    </h3>
                    <p class="card-text">
                    
                        Cameroon.
                    </p>

                    <a href="#" class="btn btn-primary">Group G</a>                      
                </div>
            </div>
 

        </div>

        <!-- Group H -->

        <div class="row text-center g-4">

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/portugal.png')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        Portugal.
                    </h3>
                    <p class="card-text">
                    
                        Portugal.
                    </p>

                    <a href="#" class="btn btn-primary">Group H</a>                      
                </div>
            </div>

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">
                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/ghana.png')}}"  />
                    </div>
                    <h3 class="card-title mb-3">
                        Ghana
                    </h3>
                    <p class="card-text">
                    
                        Ghana
                    </p>

                    <a href="#" class="btn btn-primary">Group H</a>                      
                </div>
            </div>

            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/uruguay.png')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        Uruguay.
                    </h3>
                    <p class="card-text">
                        Uruguay.
                    </p>

                    <a href="#" class="btn btn-primary">Group H</a>                      
                </div>
            </div>


            <div class="col-md">
                <div class="card-body bg-light text-dark">
                    <div class="h1 mb-3">

                        <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{url_for('static', filename='images/southKorea.png')}}"  />
                      
                    </div>
                    <h3 class="card-title mb-3">
                        South Korea.
                    </h3>
                    <p class="card-text">
                    
                        South Korea.
                    </p>

                    <a href="#" class="btn btn-primary">Group H</a>                      
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}
